* {
  margin: 0;
  padding: 0;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.burger__menu_content {
  display: none;
}
.burger__menu_icon {
  display: none;
}
.footer__list {
  display: flex;
  gap: 36px;
}
.footer__container {
  height: 250px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__item_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 12px;
}
.footer__item_link p {
  margin-bottom: 0;
}
/* Hobbies */
.hobbies__main {
  padding-top: 120px;
}
.hobbies__main_text {
  width: 50%;
  gap: 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hobbies__main_desc {
  border: 2px solid #212529;
  border-radius: 5px;
  padding: 8px 14px;
}
.hobbies__cooking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.hobbies__cooking_text {
  width: 40%;
}
.hobbies__cooking_desc {
  border: 2px solid #212529;
  border-radius: 5px;
  padding: 8px 14px;
}
.hobbies__games {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hobbies__games_desc {
  margin: 24px auto;
  padding: 8px 14px;
  width: 50%;
  border: 2px solid #212529;
  border-radius: 5px;
}
.carousel-item {
  transition: transform 0.5s ease-in-out;
}
.carousel-item img {
  border-radius: 10px;
}
@media all and (max-width: 767px) {
  .header {
    display: none;
  }
  .burger__menu {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .burger__menu_content {
    display: block;
  }
  .burger__menu_icon {
    display: flex;
  }
  .burger__menu_list {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px !important;
  }
  .section__main_container {
    flex-direction: column-reverse;
    gap: 28px;
  }
  .section__main_text {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
  }
  .hobbies__cooking img {
    width: 55% !important;
  }
}
@media all and (max-width: 515px) {
  .footer__container {
    height: 500px;
  }
  .footer__list {
    flex-direction: column;
    width: 100%;
  }
  .hobbies__cooking {
    flex-direction: column;
  }
}
@media all and (max-width: 500px) {
  .col {
    width: 100%;
  }
  .card {
    width: 100% !important;
  }
  #About {
    height: 100% !important;
  }
  #Contacts {
    height: 100% !important;
  }
  .input-group {
    width: 75% !important;
  }
}
